.popup-wrapper {
  width: 320px;
  padding: 20px;
  background: linear-gradient(to bottom right, rgb(183, 225, 255), #a1e4fa, #24b6f5);
  color: #e0f7fa;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  overflow: hidden;
  animation: fadeIn 0.6s ease-in-out;
  flex-direction: column;
  gap: 16px;
 
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.popup-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
 
 
}

.logo {
  max-width: 130px;
  display: block;
  margin: 0 auto 20px;
}

h2 {
  font-size: 15px;
  margin: 0;
  color: #b2ebf2;
}

.protect-btn {
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  background: linear-gradient(to right, #00c6ff, #327dd8);
  color: white;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.protect-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #00c6ff;
}

.report-section {
  display: flex;
  gap: 8px;
  align-items: center;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 13px;
  border-radius: 8px;
  border: none;
  background: #f5f5f5;
  outline: none;
}

.report-btn {
  padding: 6px 10px;
  font-size: 13px;
  background: linear-gradient(to right, #1de9b6, #03c0eb);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s;
}

.report-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px #1de9b6;
}

ul {
  padding-left: 18px;
  font-size: 13px;
  color: #e0f2f1;
  max-height: 100px;
  overflow-y: auto;
}

ul li {
  margin-bottom: 4px;
  animation: fadeIn 0.5s ease;
}
